<!DOCTYPE html>
<html>
<head>
	<title>BLOGS APP</title>
	<!--semantic ui file -->
   <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" >
   <link rel="stylesheet" type="text/css" href="/stylesheet/app.css" >
   <!--font awesome-->
   <script src="https://kit.fontawesome.com/7fe6b58c32.js"></script>
   
</head>
<body>
     <div class="ui fixed inverted menu">
          <div class="ui container">
               <a href="/blogs" class="header item"><i class="code icon"></i> BLOG APP </a>
               <a href="/" class="item">Home</a>
               <a href="/blogs/new" class="item">Add Post</a>
          </div>
       </div>